@page
@model WebApp.Pages.BusinessAreasModel
@{
    ViewData["Title"] = "Сферы деятельности";
}
<h1>Сферы деятельности компаний:</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Название</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var businessArea in Model.BusinessAreas)
        {
            <tr>
                <td>@businessArea.Id</td>
                <td>@businessArea.Name</td>
            </tr>
        }
    </tbody>
</table>

