@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя страница";
}

<div>
    <h1 class="text-center">Добро пожаловать на домашнюю страницу</h1>
    <h2 class="mt-4">Данный проект является тестовым, необходимо реализовать следующий функционал:</h2>
    <ul>
        <li>Отдельная страница с табличным выводом модели организаций, сгруппированных по сфере деятельности, с кнопками добавления/удаления</li>
        <li>Отдельная страница с табличным выводом модели сфер деятельности, с кнопками добавления/удаления</li>
    </ul>
    <h2 class="mt-4">А также задачки под * - дополнительные:</h2>
    <ul>
        <li>Добавить на страницы возможность сортировки по клику на колонку</li>
        <li>Добавить на страницы возможность выгрузки справочников в (xml/json/csv)</li>
        <li>Добавить страницу авторизации</li>
        <li>Добавить возможность редактирования справочников</li>
    </ul>
</div>
